<head>
  <link rel="stylesheet" href="/stylesheets/sales_examin.css">
</head>
<div class="container">
  <div class="topbox">
    <div class="left">
      <span>판매심사</span>
    </div>
    <div class="right">
    </div>
  </div>
  <div class="box">
    <p class="boxTitle">운영관리<span>(IDX 01505)</span><b>(335)</b></p>
    <div class="head" id="headShadow">
      <div class="title">
        <p>시리즈 제목</p>
      </div>
      <div class="date">
        <p>등록 일시</p>
      </div>
      <div class="update">
        <p>수정 일시</p>
      </div>
      <div class="progress">
        <p>진행 상태</p>
      </div>
    </div>
    <div class="head">
      <div class="title">
        <p>사랑과 악마</p>
      </div>
      <div class="date">
        <span>22.07.31 10:00</span>
      </div>
      <div class="update">
        <span>22.07.31 10:00</span>
      </div>
      <div class="progress">
        <span><ion-icon name="pulse-outline"></ion-icon> 요청중</span>
      </div>
    </div>
  </div>
</div>