<div class="footer">
  <div class="left">
    <img src="/images/icon/SCOWORKS_Inc_whiteLetter 1.svg" alt="">
    <p class="address">2F, 59-1, Gangnam-daero 6-gil, Seocho-gu, Seoul, Korea<br/>SCOWORKS, Inc | 162-88-01168</p>
    <p class="copy">&copy; SCOWORKS Inc. ALL RIGHTS RESERVED. Privacy policy | Terms of Platform | Contact</p>
  </div>
  <div class="right">
    <div>
      <p class="title">Product</p>
      <p>Story Creation</p>
      <p>Story Viewer</p>
      <p>Story Co-Work</p>
      <p>NFT manager IPMS</p>
    </div>
    <div>
      <p class="title">Pricing Plan</p>
      <p>For Freelancer</p>
      <p>For Team & Enterprise</p>
      <p>For Reader Cash Topup</p>
    </div>
    <div>
      <p class="title">Company</p>
      <p>What We do</p>
    </div>
    <div>
      <p class="title">Support Center</p>
      <p>Email Contact@storicha.in</p>
      <p style="margin-top: 24px;">Go to Support Center</p>
    </div>
  </div>
</div>