<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/nav.css">
  </head>
  <body>
    <%- include('nav.ejs') %>
    <%- include(page) %>
  </body>
</html>
