<script>
  const themeChange = () => {
    if(document.querySelector("body").dataset.theme === "dark"){
      document.querySelector("body").dataset.theme = "light";
    } else {
      document.querySelector("body").dataset.theme = "dark";
    }
  }
</script>
<div class="nav">
  <img src="/images/Logo.svg" class="navLogo" alt="">
  <div class="nav_box">
    <div class="left">
      <img src="/images/icon/BackBtn.svg" alt="">
      <img src="/images/icon/ShapeCopy.svg" alt="">
    </div>
    <div class="center">
      <%=head%>
    </div>
    <div class="right">
    </div>
  </div>
  <!-- <ion-icon name="contrast-outline" onclick="themeChange()"></ion-icon> -->
</div>