<div class="nav">
  <div class="box">
    <div class="left">
      <img src="/images/icon/BackBtn.svg" alt="">
      <img src="/images/icon/ShapeCopy.svg" alt="">
    </div>
    <div class="center">
      <%=head%>
    </div>
    <div class="right"></div>
  </div>
</div>