<head>
  <link rel="stylesheet" href="/stylesheets/series.css">
</head>
<div class="series">
  <div class="title">
    <p>양과 여우들의 밤</p>
  </div>
  <div class="box">
    <div class="left">
      <div class="imgbox">
        <img src="images/img/011454884a20ebe329565d653639090d.jpg" alt="">
      </div>
      <div class="likeMark">
        <div class="like">
          <ion-icon name="star"></ion-icon>4.8 (4.1K)
        </div>
        <div class="mark">
          <ion-icon name="bookmark"></ion-icon>10,262
        </div>
      </div>
      <div class="first_episode">
        <ion-icon name="book-outline"></ion-icon>
        <span>&nbsp;&nbsp;첫화 보기</span>
      </div>
      <p class="plot">줄거리</p>
      <p class="plot_content">「패왕을 보았다」의 작가 추공. 이번에는 레이드의 진수를 보여준다! 『나 혼자만 레벨업』 재능 없는 만년 E급의 헌터, 성진우. 기이한 던전에서 죽음을 목전에 두지만 위기는 언제나 기회와 함께 찾아오는 법! [플레이어가 되실 자격을 획득하셨습니다.] “플레이어? 내가 레벨업을 할 수 있다고?” 전 세계 헌터 중 유일무이, 전무후무 시스템과 레벨업 능력을 각성한 진우. 세상을 향해 자유를 선포한다!</p>
      <div class="info">
        <div>
          <span>장르</span>
          <p>액션, 판타지</p>
        </div>
        <div>
          <span>포멧라벨</span>
          <p>웹소설, 시나리오</p>
        </div>
        <div>
          <span>에피소드</span>
          <p>148</p>
        </div>
      </div>
      <div class="writer_box">
        <div class="top">
          <div>
            <div class="profile_image">
              <img src="images/img/583241789123478412378.png" alt="">
            </div>
          </div>
          <div>
            <p class="name">Richard Ottemant</p>
            <p class="type">@Illustrator</p>
            <button>Follow</button>
          </div>
        </div>
        <p class="distribution"><b>배급사</b> 씨엔믹스</p>
      </div>
    </div>
    <div class="right">
      <p class="bookmark"><ion-icon name="bookmark-outline"></ion-icon> 북마크하기</p>
      <div class="notice">
        <p class="notice_title">작가의 공지</p>
        <p class="notice_content">이전 주 연재가 조금 늦었습니다.<br/>많은 양해 바랍니다. </p>
      </div>
      <div class="content">
        <div class="tab">
          <script>
            const tabChoice = () => {
              document.querySelector(".focus_tab").classList.remove("focus_tab");
              event.target.classList.add("focus_tab");
            }
          </script>
          <div class="focus_tab" onclick="tabChoice()">대여하기</div>
          <div onclick="tabChoice()">소장하기</div>
          <div onclick="tabChoice()">NFT IP 구매</div>
        </div>
        <div class="select">
          <script>
            const selectAll = () => {
            const checkTrue = document.querySelector("#checkbox-rect1").checked;
            const checkboxes = document.getElementsByName('itemlist');
              checkboxes.forEach((checkbox) => { 
                if(checkTrue){
                  checkbox.checked = true;
                } else {
                  checkbox.checked = false;
                }
              })
            }
            const checkItem = () => {
              if(!event.target.checked){
                document.querySelector("#checkbox-rect1").checked = false;
              }
            }
            const select_sort = () => {
              document.querySelector(".selectBox").classList.toggle("focus");
            }
            const sort_choice = () => {
              document.querySelector(".sort_type").innerText = event.target.innerText;
              document.querySelector(".selectBox").classList.toggle("focus");
            }
          </script>
          <div class="select_nav">
            <div class="checkbox-rect">
              <input type="checkbox" onclick='selectAll()' id="checkbox-rect1" name="check">
              <label for="checkbox-rect1">전체선택</label>
            </div>
            <p class="group"><ion-icon onclick="select_sort()" name="list-outline"></ion-icon><span class="sort_type">최신 순</span></p>
            <div class="selectBox">
              <div>
                <p onclick="sort_choice()">인기순</p>
              </div>
              <div>
                <p onclick="sort_choice()">업데이트순</p>
              </div>
              <div>
                <p onclick="sort_choice()">조회순</p>
              </div>
              <div>
                <p onclick="sort_choice()">별점순</p>
              </div>
            </div>
          </div>
          <div class="select_list">
            <div class="item">
              <input class="item_check" type="checkbox" id="list-label1" name="itemlist" onclick="checkItem()">
              <label for="list-label1"></label>
              <div class="item_image">
                <img src="/images/img/unnamed.png" alt="">
              </div>
              <div class="item_text">
                <p><b>EP</b> 1</p>
                <p>검의 무게를 견뎌내는 자, 욕망을 다스리는 자 </p>
                <p> ★ 4.5 &nbsp;&nbsp;&nbsp;&nbsp;22.06.22</p>
                <button class="free">무료보기</button>
              </div>
            </div>
            <div class="item">
              <input class="item_check" type="checkbox" id="list-label2" name="itemlist" onclick="checkItem()">
              <label for="list-label2"></label>
              <div class="item_image">
                <img src="/images/img/61237892137236176123741.png" alt="">
              </div>
              <div class="item_text">
                <p><b>EP</b> 2</p>
                <p>검의 무게를 견뎌내는 자, 욕망을 다스리는 자 </p>
                <p> ★ 4.5 &nbsp;&nbsp;&nbsp;&nbsp;22.06.22</p>
                <button>대여하기</button>
              </div>
            </div>
            <div class="item">
              <input class="item_check" type="checkbox" id="list-label3" name="itemlist" onclick="checkItem()">
              <label for="list-label3"></label>
              <div class="item_image">
                <img src="/images/img/unnamed.png" alt="">
              </div>
              <div class="item_text">
                <p><b>EP</b> 3</p>
                <p>검의 무게를 견뎌내는 자, 욕망을 다스리는 자 </p>
                <p> ★ 4.5 &nbsp;&nbsp;&nbsp;&nbsp;22.06.22</p>
                <button>대여하기</button>
              </div>
            </div>
            <div class="item">
              <input class="item_check" type="checkbox" id="list-label4" name="itemlist" onclick="checkItem()">
              <label for="list-label4"></label>
              <div class="item_image">
                <img src="/images/img/61237892137236176123741.png" alt="">
              </div>
              <div class="item_text">
                <p><b>EP</b> 4</p>
                <p>검의 무게를 견뎌내는 자, 욕망을 다스리는 자 </p>
                <p> ★ 4.5 &nbsp;&nbsp;&nbsp;&nbsp;22.06.22</p>
                <button>대여하기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="more_view_title" style="color: white;">이 작가의 다른 작품</p>
    <div class="more_view">
      <div class="more_view_content">
        <div class="thumbnail">
          <img src="images/img/011454884a20ebe329565d653639090d.jpg" alt="">
          <div class="cover"></div>
          <p>지금 우리 학교는</p>
        </div>
        <div class="thumbnail">
          <img src="images/img/011454884a20ebe329565d653639090d.jpg" alt="">
          <div class="cover"></div>
          <p>지금 우리 학교는</p>
        </div>
        <div class="thumbnail">
          <img src="images/img/011454884a20ebe329565d653639090d.jpg" alt="">
          <div class="cover"></div>
          <p>지금 우리 학교는</p>
        </div>
        <div class="thumbnail">
          <img src="images/img/011454884a20ebe329565d653639090d.jpg" alt="">
          <div class="cover"></div>
          <p>지금 우리 학교는</p>
        </div>
        <div class="thumbnail">
          <img src="images/img/011454884a20ebe329565d653639090d.jpg" alt="">
          <div class="cover"></div>
          <p>지금 우리 학교는</p>
        </div>
        <div class="thumbnail">
          <img src="images/img/011454884a20ebe329565d653639090d.jpg" alt="">
          <div class="cover"></div>
          <p>지금 우리 학교는</p>
        </div>
        <div class="thumbnail">
          <img src="images/img/011454884a20ebe329565d653639090d.jpg" alt="">
          <div class="cover"></div>
          <p>지금 우리 학교는</p>
        </div>
      </div>
    </div>
  </div>
</div>