<head>
  <link rel="stylesheet" href="/stylesheets/cashwallet.css">
</head>
<script>
  const targetChange = () => {
    if(event.target.parentNode.id == "non_focus"){
      console.log(event.target.parentNode.id);
      document.getElementById("focus").id = "non_focus";
      event.target.parentNode.id = "focus";
      let receipt = document.querySelectorAll('.receipt');
      if(receipt[0].id == "focus_receipt"){
        receipt[0].id = "non-focus_receipt";
        receipt[1].id = "focus_receipt";
      } else {
        receipt[1].id = "non-focus_receipt";
        receipt[0].id = "focus_receipt";
      }
    }
  }
  const moreview = () => {
    document.querySelector("#focus_receipt").style.maxHeight="none";
  }
</script>
<div class="cashwallet">
  <div class="box">
    <span class="title">보유 <b>CASH</b></span>
    <div class="content">
      <p class="haveCoin">1,000,000<span>TC</span></p>
    </div>
    <div class="payment_detail">
      <div class="detail">
        <img src="images/icon/won.svg" alt="">
        <p>충전액 ></p>
        <p><b>10</b>TC</p>
      </div>
      <div class="detail">
        <img id="cash_icon" src="images/icon/coinplus.png" alt="">
        <p>월구독액 ></p>
        <p><b>10</b>TC</p>
        <span>{N}일뒤 소멸 예정</span>
      </div>
      <div class="detail">
        <img id="cash_icon2" src="images/icon/coinplus.svg" alt="">
        <p>적립액 ></p>
        <p><b>10</b>TC</p>
      </div>
    </div>
    <div class="breakdown">
      <div class="breakdown_payment">
        <div class="head_box">
          <div class="head" id="focus" onclick="targetChange()">
            <p>결제 내역</p>
          </div>
          <div class="head" id="non_focus" onclick="targetChange()">
            <p>사용 내역</p>
          </div>
        </div>
        <div class="receipt" id="focus_receipt">
          <div class="date" style="width: 120%; text-align: left;">
            <p class="headTitle">결제 일시</p>
            <p>22.05.31. 16:00</p>
            <p>22.05.31. 16:00</p>
            <p>22.05.31. 16:00</p>
            <p>22.05.31. 16:00</p>
          </div>
          <div class="price" style="width: 85%; text-align: right;">
            <p class="headTitle">결제 금액</p>
            <p>13,200</p>
            <p>13,200</p>
            <p>13,200</p>
            <p>13,200</p>
          </div>
          <div class="way" style="width: 115%; text-align: center;">
            <p class="headTitle">방식</p>
            <p>신용카드</p>
            <p>계좌이체</p>
            <p>보너스지급</p>
            <p>토스</p>
          </div>
          <div class="charging" style="width: 80%;text-align: center;">
            <p class="headTitle">충전액</p>
            <p>155</p>
            <p>155</p>
            <p>155</p>
            <p>155</p>
          </div>
        </div>
        <div class="receipt" id="non_focus_receipt" style="flex-direction: column;">
          <div class="contentbox box2">
            <div class="div1">
              <div>22.07.31 13:31</div>
              <div>사용</div>
            </div>
            <div class="div2">
            </div>
            <div class="div3">
              <div class="storyName">만료</div>
              <div class="div3Coin">-210 TC</div>
            </div>
            <div class="div4">
              <div class="episode">미 사용분 자동 소멸</div>
              <div class="totalCoin"><b>잔액</b>200,000,000TC</div>
            </div>
            </div>
            <div class="contentbox">
              <div class="div1">
                <div>22.07.31 13:31</div>
                <div>사용</div>
              </div>
              <div class="div2">
              </div>
              <div class="div3">
                <div class="storyName">렌탈그녀</div>
                <div class="div3Coin">-12 TC</div>
              </div>
              <div class="div4">
                <div class="episode">1부-소장-울지 못해서 운다</div>
                <div class="totalCoin"><b>잔액</b>203TC</div>
              </div>
            </div>
            <div class="contentbox">
              <div class="div1">
                <div>22.06.09 18:00</div>
                <div>사용</div>
              </div>
              <div class="div2">
              </div>
              <div class="div3">
                <div class="storyName">렌탈그녀</div>
                <div class="div3Coin">-6 TC</div>
              </div>
              <div class="div4">
                <div class="episode">1부-대여-울지 못해서 운다</div>
                <div class="totalCoin"><b>잔액</b>20,312TC</div>
              </div>
            </div>
            <div class="contentbox">
              <div class="div1">
                <div>22.06.05 14:00</div>
                <div>사용</div>
              </div>
              <div class="div2">
              </div>
              <div class="div3">
                <div class="storyName">보너스</div>
                <div class="div3Coin" id="addCoin">+100 TC</div>
              </div>
              <div class="div4">
                <div class="episode">운영자 감사의 의미</div>
                <div class="totalCoin"><b>잔액</b>20,312TC</div>
              </div>
            </div>
            <div class="contentbox">
              <div class="div1">
                <div>22.06.01 19:00</div>
                <div>사용</div>
              </div>
              <div class="div2">
                <div class="chargeDetail">충전(신용카드)</div>
                <div></div>
              </div>
              <div class="div3">
                <div class="storyName">보너스</div>
                <div class="div3Coin" id="addCoin">+210 TC</div>
              </div>
              <div class="div4">
                <div class="episode">월 자동구매</div>
                <div class="totalCoin"><b>잔액</b>20,210TC</div>
              </div>
            </div>
          </div>
        </div>
        <div class="more_view">
          <p>결제내역 더보기</p>
          <img src="/images/underArrow.svg" onclick="moreview()" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
    