<head>
  <link rel="stylesheet" href="/stylesheets/checkout.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<div class="checkout">
  <div class="box">
    <span class="title">구매상품명</span>
    <div class="content">
      <p class="contentTitle">결제</p>
      <div class="priceContent">
        <p><span>TC</span> 100</p>
        <p>11,000원</p>
      </div>
      <script>
        const selectChange = () => {
          if(!document.getElementById("MeansType").classList.contains("focus")){
            document.querySelector(".boxTab").style.height = "auto";
            document.getElementsByName("chevron-down-outline")[0].setAttribute('name',"chevron-up-outline");
          } else {
            document.querySelector(".boxTab").style.height = "0";
            document.getElementsByName("chevron-up-outline")[0].setAttribute('name',"chevron-down-outline");
          }
          document.getElementById("MeansType").classList.toggle("focus");
        }
      </script>
      <p class="selectMeansTitle">결제 수단 선택</p>
      <div class="selectMeans" onclick="selectChange()">
        <p class="select">신용카드</p>
        <p><span id="MeansType">변경</span><ion-icon id="selectIcon" name="chevron-down-outline"></ion-icon></p>
      </div>
      <script>
        const boxTabClick = () => {
          document.querySelector(".select").innerText = event.currentTarget.innerText;
          document.querySelector(".focusTab").classList.remove("focusTab");
          event.currentTarget.className = "focusTab";
        }
      </script>
      <div class="boxTab">
        <div onclick="boxTabClick()" class="focusTab">신용카드</div>
        <div onclick="boxTabClick()">휴대폰</div>
        <div onclick="boxTabClick()">계좌이체</div>
        <div onclick="boxTabClick()">토스</div>
        <div onclick="boxTabClick()">네이버페이</div>
        <div onclick="boxTabClick()">포인트</div>
        <div onclick="boxTabClick()">카카오페이</div>
        <div onclick="boxTabClick()">페이코</div>
        <div onclick="boxTabClick()">문화상품권</div>
        <div onclick="boxTabClick()">도서문화상품권</div>
        <div onclick="boxTabClick()">T-money</div>
        <div onclick="boxTabClick()">OK 캐쉬백</div>
      </div>
      <div class="btn">
        <button>결제 하기</button>
        <button>취소 하기</button>
      </div>
      <div class="significance">
        <p>구매 전 필수 유의사항</p>
        <ul>
          <li>구매한 캐시의 유효기간은 구입일로부터 5년간 입니다.</li>
          <li>캐시 구매/ 이용내역은 마이 페이지 보유 현황에서 확인이 가능합니다.</li>
          <li>150개 이상 구매시 결제 방법에 따라 보너스 캐시를 제공할 수 있습니다.<br>(신용카드1%,계좌이체2%,가상계좌2%,무통장입금3%)</li>
          <li>캐시구매 한도가 초과한 경우 구매 불가 합니다. (일 :10,000개 / 월 : 400,000개)</li>
          <li>캐시구매 한도가 초과한 경우 선물이 불가합니다. (일 : 95,000개 / 월 : 300,000개)당일 한도는 23시59분59초 / 당월 한도는 매월 말일까지 적용 됩니다.</li>
          <li>미성년자 가입자는 캐시 및 유료 아이템을 구매할 수 없습니다.</li>
          <li>법정 대리인의 동의 없이 미성년자 명의로 결제한 캐시는 환불이 가능합니다.</li>
          <li>사용하지 않은 캐시에 한에 구매 후 7일 이내 청약철회가 가능하며, 1:1문의 게시판에 신청해 주시기 바랍니다.</li>
          <li>유료아이템의 내용 표시. 광고의 내용과 다르거나 계약 내용과 다게 이행된 경우에는 해당 유료 아이템을 공급 받은 날부터 3개월 이내, 그 사실을 안 날 또는 알수 있었던 날부터 30일 이내 청약 철회가 가능 합니다.</li>
        </ul>
      </div>
    </div>
  </div>
</div>