.cashwallet{
  position: relative;
  z-index: 10;
  min-width: 358px;
  min-height: calc(100vh - 300px);
  padding: 30px 16px;
  background-color: white;
  margin-top: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box{
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid #DCDCDC;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}
.box .title{
  position: absolute;
  padding-right: 18px;
  background-color: white;
  top: -0.5rem;
  font-size: 1rem;
  font-family: 'NEXON Lv2 Gothic Bold';
}
.box .title b{
  letter-spacing: -1px;
}
.box .content{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.box .content .haveCoin{
  font-size: 2rem;
  font-family: 'NEXON Lv2 Gothic Bold';
  letter-spacing: -1.2px;
}
.box .content .haveCoin span{
  font-size: 1rem;
  margin-left: 10px;
}
.box .payment_detail{
  position: relative;
  padding: 10px 0;
  border-radius: 4px;
  width: 100%;
  height: auto;
  background-color: #3B3B3B;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.box .payment_detail .detail{
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
  color: #FFFFFF;
  gap: 6px;
  font-size: 0.8rem;
}
.box .payment_detail .detail b{
  letter-spacing: -0.8px;
  font-size: 1.4rem;
  margin-right: 2px;
}
.box .payment_detail .detail span{
  font-size: 0.55rem;
  margin-top: -4px;
  color: #D7D7D7;
}
.box .payment_detail .detail #cash_icon{
  width: 25px;
  margin-bottom: -10px;
}
.box .payment_detail .detail #cash_icon2{
  margin-bottom: -2px;
}
.box .breakdown{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .breakdown .breakdown_payment{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  width: 100%;
  height: auto;
}
.box .breakdown .breakdown_payment div{
  width: 100%;
  display: flex;
}
.box .breakdown .breakdown_payment .head{
  position: relative;
  padding: 12px 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border: 2px solid #F4F4F4;
  border-bottom: 0;
  background-color: #F4F4F4;
  color: #787878;
}
.box .breakdown .breakdown_payment .head p{
  font-size: 1rem;
  font-family: 'Tium';
  cursor: pointer;
}
.box .breakdown .breakdown_payment .receipt{
  position: relative;
  z-index: 100;
  margin-top: -1.8px ;
  width: 100%;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: white;
  display: flex;
  height: 0;
  overflow: hidden;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px; */
}
.box .breakdown .breakdown_payment .receipt div{
  width: 100%;
  flex-direction: column;
}
.box .breakdown .breakdown_payment .receipt p{
  letter-spacing: -0.9px;
  font-family: 'NEXON Lv2 Gothic';
  font-size: 0.72rem;
  margin-top: 10px;
}
.box .breakdown .breakdown_payment .receipt .headTitle{
  width: 100%;
  color: #A0A0A0;
  font-family: 'Tium';
  padding-bottom: 15px;
  border-bottom: 1.4px solid #DCDCDC;
  font-size: 0.9rem;
  margin-top: 0px;
}
.box .breakdown .breakdown_payment .receipt .contentbox{
  width: 100%;
  height: auto;
  padding: 5px 0;
  display: flex;
  flex-direction: column !important;
  gap: 4px;
  border-bottom: 1px solid #D7D7D7;
}
.box .breakdown .breakdown_payment .receipt .contentbox:last-child{
  border-bottom: 0;
}
.box .breakdown .breakdown_payment .receipt .contentbox div{
  width: 100%;
  height: 17px;
  display: flex;
  justify-content: space-between;
}
.box .breakdown .breakdown_payment .receipt .contentbox div{
  flex-direction: row;
}
.box .breakdown .breakdown_payment .receipt .box2 div{
  flex-direction: row;
}
.box .breakdown .breakdown_payment .receipt .contentbox div:nth-child(1){
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box .breakdown .breakdown_payment .receipt .contentbox div:nth-child(2){
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box .breakdown .breakdown_payment .receipt .contentbox .div1:nth-child(1){
  font-family: 'MinSans-Medium';
  font-size: 0.8rem;
  letter-spacing: -0.5px;
  color: #A0A0A0;
}
.box .breakdown .breakdown_payment .receipt .contentbox .div1:nth-child(2){
  font-family: 'MinSans-Medium';
  font-size: 1rem;
  letter-spacing: -0.5px;
  color: #A0A0A0;
}
.box .breakdown .breakdown_payment .receipt .contentbox .div2 .chargeDetail{
  font-family: 'NEXON Lv2 Gothic';
  font-size: 0.8rem;
  color: #292929;
}
.box .breakdown .breakdown_payment .receipt .contentbox .div3 .storyName{
  font-family: 'NEXON Lv2 Gothic';
  font-size: 0.8rem;
  color: #292929;
}
.box .breakdown .breakdown_payment .receipt .contentbox .div3 .div3Coin{
  font-family: 'NEXON Lv2 Gothic Bold';
  font-size: 0.8rem;
  color: #889AF8;
  letter-spacing: -0.6px;
}
.box .breakdown .breakdown_payment .receipt .contentbox .div4 .episode{
  font-family: 'NEXON Lv2 Gothic';
  font-size: 0.8rem;
  color: #292929;
}
.box .breakdown .breakdown_payment .receipt .contentbox .div4 .totalCoin{
  font-family: 'NEXON Lv2 Gothic Bold';
  font-size: 0.7rem;
  color: #292929;
}
.box .breakdown .breakdown_payment .receipt .contentbox .div4 .totalCoin b{
  font-family: 'NEXON Lv2 Gothic';
  font-size: 0.8rem;
  color: #A0A0A0;
  margin-right: 4px;
} 
.more_view{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: #A0A0A0;
}
.more_view img{
  margin-top: 8px;
  cursor: pointer;
}
#focus.head{
  border: 2px solid #E8E8E8;
  border-bottom: 0;
  z-index: 500;
  background-color: white;
  cursor: auto;
  color: #000000;
}
.receipt#focus_receipt{
  z-index: 300;
  height: auto;
  padding: 15px 10px;
  border: 2px solid #E8E8E8;
  max-height: 348px;
}
#addCoin{
  color: #FF9284;
}
@media screen and (max-width:481px) {
  .cashwallet{
    width: calc(100% - 20px);
  }
}