.checkout{
  position: relative;
  z-index: 15;
  max-width: 428px;
  width: 100%;
  min-width: 350px;
  height: auto;
  padding: 30px 16px 20px 16px;
  background-color: white;
  margin-top: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box{
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid #DCDCDC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.box .title{
  position: absolute;
  padding-right: 8px;
  background-color: white;
  top: -0.5rem;
  font-size: 1rem;
  font-family: 'Tium';
}
.box .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.box .content .contentTitle{
  font-size: 24px;
  margin-top: 16px;
  font-weight: 600;
  color: #666666;
}
.box .content .priceContent{
  width: 100%;
  padding: 14px 0;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.box .content .priceContent span{
  font-size: 14px;
  color: #DD4C4C;
}
.box .content .selectMeansTitle{
  font-size: 20px;
  margin-top: 12px;
  font-weight: 500;
  color: #666666;
}
.box .content .selectMeans{
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 16px;
  border: 2px solid #000000;
  cursor: pointer;
}
.box .content .selectMeans .select{
  margin-top: -.5px;
}
.box .content .selectMeans p:nth-child(2){
  color: #DD4C4C;
}
.box .content .selectMeans ion-icon{
  margin-bottom:  -3px;
}
.box .content .boxTab{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 6px;
  height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}
.box .content .boxTab div{
  width: 32%;
  padding: 12px 0;
  color: #666666;
  font-size: 14.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C5C5C5;
  cursor: pointer;
}
.box .content .boxTab div.focusTab{
  border: 1px solid #DD4C4C;
}
.box .content .btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 24px;
}
.box .content .btn button{
  border-radius: 2px;
  background-color: #0A0A0A;
  border: none;
  width: 100%;
  padding: 10px 0;
  color: white;
  font-family: 'Tium';
  font-size: 1rem;
  border-radius: 33px;
}
.box .content .btn button:last-child{
  background-color: #BEBEBE;
}
.box .significance{
  padding: 0 6px;
  width: calc(100% - 12px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
  font-family: 'Tium';
}
.box .significance ul{
  margin-top: 15px;
  padding-bottom: 5px;
}
.box .significance li{
  color: #5A5A5A;
  font-size: 0.8rem;
  font-family: 'NEXON Lv2 Gothic';
  list-style-type: disc;
  padding-left: -50px;
  margin-left: 15px;
}
@media screen and (max-width:481px) {
  .checkout{
    width: calc(100% - 20px);
  }
}