.nav{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #141414;
  color: white;
}
.nav .navLogo{
  position: absolute;
  left: 10px;
  top: 7px;
  height: 19px;
  /* 로고 가림처리 */
  display: none;
}
.nav .nav_box{
  width: 100%;
  max-width: 1200px;
  padding: 8px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none !important;
}
.nav .nav_box div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav_box .left{
  justify-content: flex-start;
  gap: 8px;
}
.nav .nav_box .left img{
  cursor: pointer;
}
.nav .nav_box .center{
  /* 굵게 bold처리 */
  width: 150%;
  font-family: 'NEXON Lv2 Gothic Bold';
}
.nav .nav_box .right{
  justify-content: flex-end;
}
.nav ion-icon{
  position: absolute;
  right: 14px;
  font-size: 20px;
  top: 6px;
  cursor: pointer;
  z-index: 9999;
}
@media only screen and (max-width: 768px){
  .navLogo{
    display: none;
  }
}