:root {
  --box1: #FFFFFF;
  --box2: #F7F7F7;
  --text-color1: #1F1F1F;
  --text-color2: #6C6C6C;
  --menu-line: #DFDFDF;
  --box-shadow: rgba(0, 0, 0, 0.16);
}
[data-theme='dark']{
  --box1: #000000;
  --box2: #282828;
  --text-color1: #FFFFFF;
  --text-color1: #D7D7D7;
  --menu-line: #313131;
  --box-shadow: transparent;
}
.container{
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 240px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topbox{
  width: 100%;
  padding: 18px 30px;
  background-color: var(--box1);
  color: var(--text-color1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.topbox .left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 55px;
}
.topbox .left span{
  font-size: 20px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding-bottom: 2px;
}
.topbox .left span#active{
  cursor: auto;
  font-weight: bold;
  border-bottom: 3px solid #E9446C;
}
.topbox .right{
  justify-content: flex-end;
}
.topbox .right{
  font-size: 28px;
  cursor: pointer;
}
.box{
  padding: 20px 30px;
  width: 100%;
  background-color: var(--box1);
  color: var(--text-color1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 24px;
}
.box1{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box1 .left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 65%;
}
.box1 .left .imgbox{
  width: 200px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.box1 .left .imgbox img{
  width: 100%;
}
.box1 .left div:nth-child(2){
  position: absolute;
  width: calc(100% - 220px);
  top: 0;
  right: 0;
}
.box1 .left .title{
  font-size: 22px;
  font-weight: bold;
}
.box1 .left .dateText{
  color: #AEAEAE;
  margin-top: 12px;
}
.box1 .left .tabletDateText{
  color: #AEAEAE;
  margin-top: 12px;
  display: none;
}
.box1 .left div:nth-child(2) p:nth-child(2){
  margin-top: 24px;
}
.box1 .right{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.box1 .right .btnbox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.box1 .right .btnbox div{
  padding: 8px 14px;
  background-color: #323232;
  color: #838383;
  cursor: pointer;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.box1 .right .btnbox div#activeCategory{
  background-color: #9F9F9F;
  color: #FBFBFB;
}
.box1 .right .btnbox div ion-icon{
  font-size: 18px;
}
.box1 .right p{
  color: var(--text-color1);
  margin-top: 24px;
}
.box1 .right p:nth-child(3){
  margin-top: 8px;
}
.box1 .right span{
  color: #9D9D9D;
}
.box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 24px;
}
.box2 div{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  font-size: 18px;
}
.box2 .togglebtn{
  margin-top: 28px;
  max-width: 500px;
}
.toggler-wrapper {
  /* position: absolute;
  right: 0; */
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #E9446C;
}

.toggler-wrapper .toggler-slider {
  background-color: #282828;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 14px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
  width: calc(20px - 6px);
  height: calc(20px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}
.box3{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 36px;
  /* box-shadow: var(--box2) 0px 3px 8px; */
}
.box3 .top{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid #353535;
}
.box3 .top .headbox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.box3 .top .headbox p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.box3 .top img{
  width: 20px;
}
.box3 .top .head{
  color: var(--text-color1);
  font-size: 20px;
  margin-right: 16px;
}
.box3 .top .headSub{
  color: var(--text-color2);
  font-size: 14px;
  max-width: 768px;
}
.box3 .topbtn{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box3 .topbtn p{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 0;
  gap: 16px;
}
.box3 .topbtn p:nth-child(2){
  justify-content: flex-end;
}
.box3 .topbtn p span{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.box3 .topbtn p ion-icon{
  margin-left: 4px;
  font-size: 18px;
}
.box3 .content{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--box2);
  border-radius: 4px;
  gap: 18px;
}
.box3 .content div{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box3 .content div span{
  font-size: 18px;
  font-weight: 600;
  color: #969696;
}
.box3 .content div .contentbox{
  position: absolute;
  right: 0;
  width: calc(100% - 400px);
  padding: 6px 14px;
  text-align: right;
  background-color: var(--box1);
  font-size: 18px;
  border-radius: 4px;
  min-height: 33px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box3 .mdDelBtn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  gap: 18px;
  font-size: 18px;
  right: 4px;
}
.box3 .mdDelBtn button{
  width: 100%;
  outline: none;
  border: none;
  padding: 8.5px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
}
.box3 .mdDelBtn button:nth-child(1){
  background-color: #E9446C;
  color: #fff;
}
.line{
  width: 100%;
  border-top: 4px solid var(--box1);
}
.toggler-wrapper-content {
  position: absolute;
  right: 0;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.toggler-wrapper-content input[type="checkbox"] {
  display: none;
}

.toggler-wrapper-content input[type="checkbox"]:checked+.toggler-slider {
  background-color: #E9446C;
}

.toggler-wrapper-content .toggler-slider {
  background-color: #626262;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper-content .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper-content.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 16px - 3px);
}

.toggler-wrapper-content.style-1 .toggler-knob {
  width: calc(20px - 4px);
  height: calc(20px - 4px);
  border-radius: 50%;
  left: 3px;
  top: 2px;
  background-color: #fff;
}
#unique{
  position: relative;
}
.E9446C{
  color: #E9446C !important;
}
.selectBox{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}
.selectBox select{
  width: calc(100% - 114px);
  padding: 8px 14px;
  outline: none;
  border: var(--box2) 1.4px solid;
  background-color: transparent;
  color: var(--text-color1);
  border-radius: 4px;
  appearance: none;
}
.selectBox ion-icon{
  margin-left: -30px;
}
.selectBox button{
  position: absolute;
  right: 0px;
  padding: 6.9px 18px;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--box2);
  color: var(--text-color1);
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}
.idxNumber{
  font-weight: 300;
  font-size: 12px;
  color: var(--text-color1);
}
.mainBtnBox{
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
}
.mainBtnBox div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBtnBox div button{
  width: 100%;
  padding: 12px;
  border-radius: 28px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.E9446CBTN{
  background-color: #E9446C;
  color: #fff;
}
.mainBtnBox .mainBtnBoxHidden{
  width: 300px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(calc(-100% - 20px));
  background-color: #E7E6E3;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
#focusFinal{
  display: flex !important;
}
.mainBtnBox .mainBtnBoxHidden p{
  font-size: 18px;
  letter-spacing: -.6px;
  color: #000000;
  line-height: 20px;
}
.mainBtnBox .mainBtnBoxHidden textarea{
  width: 100%;
  height: 140px;
  margin-top: 12px;
  border: none;
  outline: none;
  padding: 12px;
  padding-top: 18px;
  font-size: 16px;
  letter-spacing: -.6px;
  color: #000000;
  line-height: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px 0px inset;
  resize: none;
}
.mainBtnBox .mainBtnBoxHidden button{
  background-color: #7C7C7C;
  font-size: 16px;
  font-weight: bold;
  width: auto;
  padding: 8px 30px;
  color: #FFFFFF;
  margin-top: 12px;
  z-index: 99999;
}
.mainBtnBox .mainBtnBoxHidden::after{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50%;
  bottom: -20px;
  transform: translateX(50%) rotate(45deg);
  background-color: #E7E6E3;
  z-index: 999;
  border-bottom-right-radius: 4px;
}
.progress{
  width: 100%;
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 0 !important;
}
.progress .progressLine{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.progress .progressBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
  position: relative;
  cursor: pointer;
}
.progress .progressBox ion-icon{
  font-size: 56px;
  color: var(--text-color2);
}
.progress .progressBox button{
  padding: 8px 18px;
  font-size: 16px;
  border-radius: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--box2);
  color: var(--text-color1);
}
.progress .progressBox .requestBox{
  position: absolute;
  padding: 20px;
  background-color: #FFD914;
  color: #000000;
  width: 300px;
  z-index: 999999;
  border-radius: 10px;
  letter-spacing: -.85px;
  cursor: auto;
  transform: translateY(-100%);
  display: none;
}
.correction:hover > .requestBox{
  display: block !important;
}
.progress .progressBox .requestBox p{
  z-index: 99999;
}
.progress .progressBox .requestBox::after{
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50%;
  bottom: -25px;
  transform: translateX(50%) rotate(45deg);
  background-color: #FFD914;
  z-index: 999;
  border-bottom-right-radius: 4px;
}
.progress .progressContentLine{
  width: 10%;
  border-top: 4px solid var(--text-color2);
  margin-top: 24px;
}
.progress .progressContentLine .completetLine{
  position: absolute;
  top: -4px;
  left: 0;
  border-top: 4px solid #E9446C;
}
.hideBox{
  display: none !important;
}
.mobileProgressLine{
  display: none !important;
  flex-direction: column;
  flex-wrap: nowrap !important;
  justify-content: center !important;
}
.mobileProgressLine .progressLine{
  flex-wrap: nowrap !important;
  gap: 0 !important;
}
.mobileProgressLine #hideLine{
  display: none !important;
}
.mobileProgressLine .progressBox{
  width: 30% !important;
}
.mobileProgressLine .progressContentLine{
  width: 30%;
}
@media only screen and (max-width: 1024px){
  .dateText{
    display: none;
  }
  .box1 .left .imgbox{
    width: 300px;
  }
  .box1 .left .tabletDateText{
    display: block;
  }
  .box3 .content div .contentbox{
    width: calc(100% - 300px);
  }
  .progress .progressLine{
    flex-wrap: wrap;
  }
  #hideLine{
    display: none !important;
  }
  .progress .progressBox{
    width: 17%;
  }
  .progress .progressContentLine{
    width: 18%;
  }
  #pcLine{
    display: none !important;
  }
  .mobileProgressLine{
    display: flex !important;
  }
}
@media only screen and (max-width: 768px){
  .box1{
    flex-direction: column;
    justify-content: center;
  }
  .box1 .left{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box1 .left .title{
    text-align: center;
    font-size: 28px;
    margin-top: 12px;
  }
  .dateText{
    display: block;
    text-align: center;
    font-size: 18px;
  }
  .box1 .left .tabletDateText{
    display: none;
  }
  .box1 .left #second{
    margin-top: 6px !important;
  }
  .box1 .left div:nth-child(2){
    position: relative;
    width: 100%;
  }
  .box1 .right {
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top: 18px ;
    gap: 12px;
  }
  .box1 .right p{
    margin-top: 0 !important;
  }
  .box3 .content div .contentbox{
    width: calc(100% - 150px);
  }
  .progress .progressBox button{
    font-size: 14px;
  }
  .box2 .togglebtn{
    font-size: 16px;
  }
}
@media only screen and (max-width: 501px){
  .box1 .right{
    flex-direction: column;
    gap: 16px;
  }
  .box1 .right p{
    font-size: 20px;
  }
}
