:root {
  --box1: #FFFFFF;
  --box2: #F7F7F7;
  --text-color1: #1F1F1F;
  --text-color2: #6C6C6C;
  --menu-line: #DFDFDF;
  --box-shadow: rgba(0, 0, 0, 0.16);
}
[data-theme='dark']{
  --box1: #000000;
  --box2: #282828;
  --text-color1: #FFFFFF;
  --text-color1: #D7D7D7;
  --menu-line: #313131;
  --box-shadow: transparent;
}
.series{
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 240px);
  padding: 20px;
  box-sizing: border-box;
}
.series .title {
  width: 100%;
  padding: 12px 0;
  background-color: var(--box1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow) 0px 1px 2px;
}
.series .title p{
  font-size: 1.4rem;
  color: var(--text-color1);
}
.series .box {
  margin-top: 12px;
  width: 100%;
  padding: 34px 30px;
  box-sizing: border-box;
  background-color: var(--box1);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.series .box .left{
  position: relative;
  width: 320px;
  height: auto;
  box-sizing: border-box;
  margin-right: 19px;
}
.series .box .right{
  position: relative;
  width: calc(100% - 340px);
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.series .box .left .imgbox{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:8px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.series .box .left .imgbox img{
  width: 100%;
  position: relative;
  z-index: 105;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.series .box .left .imgbox .imageDark{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}
.series .box .left .imgbox :hover{
  transform: scale(1.05);
}
.series .box .left .imgbox p{
  position: absolute;
  z-index: 999999;
  color: #fff;
  bottom: 0;
  left: 12px;
  display: none;
}
.series .box .left .first_episode{
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: var(--box2);
  color: var(--text-color1);
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--box-shadow) 0px 1px 2px;
}
.series .box .left .first_episode ion-icon{
  font-size: 1.2rem;
  color: var(--text-color1);
}
.left .likeMark{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'NEXON Lv1 Gothic OTF';
}
.left .likeMark div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0 8px 0;
  font-size: 1.2rem;
  color: var(--text-color1);
}
.left .likeMark .like ion-icon{
  color: #FFCB46;
  margin-right: 8px;
}
.left .likeMark .mark ion-icon{
  color: #FD1C7B;
  margin-right: 8px;
}
.left .mobile_infoBox{
  margin: 12px;
  width: calc(100% - 24px);
  padding: 20px 12px;
  background-color: var(--box2);
  box-sizing: border-box;
  border-radius: 8.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 14px;
}
.left .mobile_infoBox div{
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #fff;
  text-align: center;
  row-gap: 6px;
}
.left .mobile_infoBox .head{
  color: #9D9D9D;
}
.left .mobile_infoBox div p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.series .box .left .plot{
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  color: var(--text-color1);
  font-family: 'NEXON Lv2 Gothic';
  margin-top: 1rem;
}
.series .box .left .plot_content{
  width: 100%;
  text-align: left;
  font-size: 1.0rem;
  line-height: 1.5rem;
  color: var(--text-color1);
  font-family: 'NEXON Lv1 Gothic OTF';
  margin-top: 12px;
}
.series .box .left .info{
  width: 100%;
  background-color: var(--box2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0 20px 20px;
  box-shadow: var(--box-shadow) 0px 1px 2px;
  gap: 20px;
  box-sizing: border-box;
  margin-top: 24px;
}
.series .box .left .info div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5.5px;
  box-sizing: border-box;
}
.series .box .left .info div span{
  font-family: 'NEXON Lv2 Gothic';
  color: var(--text-color2);
  font-size: 1.2rem;
}
.series .box .left .info div p{
  font-family: 'NEXON Lv2 Gothic';
  color: var(--text-color1);
  font-size: 1.05rem;
  display: flex;
  align-items: center;
}
.series .box .left .info div p ion-icon.mark{
  color: #E9446C;
}
.series .box .left .writer_box {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: var(--box2);
  color: var(--text-color1);
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: var(--box-shadow) 0px 1px 2px;
}
.series .box .left .writer_box .top{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}
.series .box .left .writer_box .top div:nth-child(1){
  width: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}
.series .box .left .writer_box .top div:nth-child(2){
  width: calc(100% - 100px);
}
.series .box .left .writer_box .top .profile_image{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000000;
}
.series .box .left .writer_box .top .profile_image img{
  height: calc(100% + 16px);
}
.series .box .left .writer_box .top .name{
  font-size: 1.1rem;
  color: var(--text-color1);
  padding-top: 8px;
}
.series .box .left .writer_box .top .type{
  font-size: 0.75rem;
  color: var(--text-color2);
  margin-top: 6px;
}
.series .box .left .writer_box .top button{
  width: calc(100% - 8px);
  box-sizing: border-box;
  color: #E9446C;
  margin-left: 4px;
  background-color: transparent;
  border: 1px solid #E9446C;
  font-family: 'NEXON Lv1 Gothic OTF';
  font-size: 1rem;
  border-radius: 28px;
  cursor: pointer;
  padding: 6px 0;
  margin-top: 14px;
}
.series .box .left .writer_box .distribution{
  margin-top: 34px;
  color: var(--text-color1);
  /* 굵게 할려면 살리기 */
  /* font-family: 'NEXON Lv2 Gothic Bold'; */
}
.series .box .left .writer_box .distribution b{
  color: var(--text-color2);
  /* 굵게 할려면 살리기 */
  /* font-family: 'NEXON Lv2 Gothic Bold'; */
}
.series .box .right .bookmark{
  font-size: 1.2rem;
  color: var(--text-color1);
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.series .box .right .bookmark ion-icon{
  margin-right: 6px;
  cursor: pointer;
}
.series .box .right .notice{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 26px;
  background-color: var(--box2);
  margin-top: 34px;
  border-radius: 8px;
  box-shadow: var(--box-shadow) 0px 1px 2px;
}
.series .box .right .notice .notice_title{
  color: var(--text-color1);
  font-size: 1.2rem;
  font-family: 'NEXON Lv2 Gothic Bold';
}
.series .box .right .notice .notice_content{
  font-size: 1.15rem;
  color: var(--text-color2);
  margin-top: 24px;
  line-height: 1.45rem;
}
.series .box .right .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border-top: 1px solid var(--menu-line); */
  margin-top: 12px;
}
.series .box .right .content .tab{
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.75%;
}
.series .box .right .content .tab div{
  width: 27.5%;
  font-size: 1.4rem;
  color: var(--text-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}
.series .box .right .content .tab div.focus_tab{
  border-bottom: 4px solid #E9446C;
  cursor: auto;
}
.checkbox-rect input[type="checkbox"] {
  display: none;
}
.checkbox-rect input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}
.checkbox-rect input[type="checkbox"]:hover + label:before {
  background: var(--text-color1);
  box-shadow: inset 0px 0px 0px 3px var(--box2);
}
.checkbox-rect input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.checkbox-rect input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid var(--text-color1);
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: transparent;
  margin-top: -.2rem;
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.2em;
  /* -webkit-transform: rotate(90deg);
  transform: rotate(90deg); */
  background: var(--text-color1);
  margin-left: 0rem;
  margin-top: -0.2rem;
  box-shadow: inset 0px 0px 0px 3px var(--box2);
}
.checkbox-rect input[type="checkbox"]#checkbox-rect1 {
  transform: translateY(-2px) scale(2);
}
.checkbox-rect label{
  padding-left: 12px;
}
.series .box .right .content .select{
  width: 100%;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.series .box .right .content .select .select_nav{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 14px 20px;
  background-color: transparent;
  background-color: var(--box2);
  border-radius: 4px;
  gap: 12px;
  color: var(--text-color1);
  font-size: 1.1rem;
  box-shadow: var(--box-shadow) 0px 1px 2px;
}
.series .box .right .content .select .select_nav ion-icon{
  cursor: pointer;
  font-size: 1.6rem;
}
.series .box .right .content .select .select_nav .selectBox{
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--box2);
  top: 44px;
  right: 0;
  z-index: 99999;
  border: 2px solid var(--text-color2);
  border-radius: 8px;
  width: 0;
  width: 0;
  transition: 0.2s all ease-in-out;
}
.series .box .right .content .select .select_nav .selectBox.focus{
  display: flex;
  width: auto;
  height: auto;
}

.series .box .right .content .select .select_nav .selectBox div{
  padding: 13.5px 20.5px;
}
.series .box .right .content .select .select_nav .selectBox div p{
  cursor: pointer;
}
.series .box .right .content .select .select_nav .group{
  position: absolute;
  right: 20px;
  display: flex !important;
  flex-direction: row;
  align-content: center;
}
.series .box .right .content .select .select_nav .group span{
  line-height: 1.6rem;
  margin-left: 6px;
}
.series .box .right .content .select .select_list {
  width: 100%;
  max-height: 940px;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.series .box .right .content .select.max_view .select_list {
  max-height: none;
}
.max_view .more_view_btn{
  display: none !important;
}
.series .box .right .content .select .select_list .item{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  color: var(--text-color1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--menu-line);
}
.series .box .right .content .select .more_view_btn{
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 18px;
  background-color: var(--box2);
  color: var(--text-color1);
  font-family: 'NEXON Lv2 Gothic Bold';
  font-size: 1.05rem;
  outline: none;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
.series .box .right .content .select .more_view_btn ion-icon{
  font-size: 1.3rem;
  margin-bottom: -5px;
}
.item input[type="checkbox"] {
  display: none;
}
.item input[type="checkbox"] + label {
  position: absolute;
  display: block;
  left: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.item input[type="checkbox"]:hover + label:before {
  background: var(--text-color1);
  box-shadow: inset 0px 0px 0px 3px var(--box2);
}
.item input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.item input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid var(--text-color1);
  border-radius: 0.2em;
  position: absolute;
  left: .9rem;
  top: 50%;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: transparent;
  margin-top: -.55rem;
}
.item input[type="checkbox"]:checked + label:before {
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.2em;
  border: 2px solid var(--text-color1);
  /* -webkit-transform: rotate(90deg);
  transform: rotate(90deg); */
  background: var(--text-color1);
  box-shadow: inset 0px 0px 0px 3px var(--box2);
  left: 0.9rem;
  top: calc(50% + .5px);
}
.series .box .right .content .select .select_list:last-child{
  border-bottom: none
} 
.series .box .right .content .select .select_list .item ion-icon{
  margin-right: 16px;
}
.series .box .right .content .select .select_list .item .item_image{
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 48px;
}
.series .box .right .content .select .select_list .item .item_image img{
  height: 100%;
}
.series .box .right .content .select .select_list .item .item_text{
  width: calc(100% - 130px);
  height: 144px;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--text-color1);
  position: relative;
}
.series .box .right .content .select .select_list .item .item_text button{
  box-shadow: var(--box-shadow) 0px 1px 2px;
}
.series .box .right .content .select .select_list .item .item_text :nth-child(1){
  font-size: 1.2rem;
  font-family: 'NEXON Lv2 Gothic Bold';
}
.series .box .right .content .select .select_list .item .item_text :nth-child(1) b{
  color: var(--text-color2);
}
.series .box .right .content .select .select_list .item .item_text :nth-child(2){
  font-size: 1.1rem;
  margin-top: 20px;
}
.series .box .right .content .select .select_list .item .item_text :nth-child(3){
  font-size: 1.1rem;
  position: absolute;
  color: var(--text-color2);
  bottom: 0;
  left: 20px;
  display: flex;
  align-items: center;
}
.series .box .right .content .select .select_list .item .item_text :nth-child(4){
  font-size: 1.1rem;
  padding: 8px 40px;
  border: none;
  outline: none;
  background-color: var(--box2);
  border: 1px solid var(--box2);
  cursor: pointer;
  border-radius: 24px;
  color: var(--text-color2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.15s all ease-in-out;
}
.series .box .right .content .select .select_list .item .item_text :nth-child(4).free{
  font-size: 1.1rem;
  padding: 8px 40px;
  border: none;
  outline: none;
  background-color: #E9446C;
  border: 1px solid #E9446C;
  cursor: pointer;
  border-radius: 24px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.15s all ease-in-out;
}
.series .box .right .content .select .select_list .item .item_text :nth-child(4):hover{
  color: var(--text-color2);
  background-color: #fff;
}
.series .box .right .content .select .select_list .item .item_text :nth-child(4).free:hover{
  color: #E9446C;
  background-color: #fff;
}
.more_view_title{
  margin-top: 32px;
  color: var(--text-color1);
  font-size: 1.2rem;
}
.more_view{
  width: 100%;
  padding: 20px 55px;
  box-sizing: border-box;
  background-color: var(--box2);
  margin-top: 8px;
  border-radius: 8px;
  position: relative;
}
.more_view .slideBox{
  width: 100%;
  min-height: 180px;
  overflow: hidden;
}
.more_view .more_view_content{
  min-width: 999%;
  display: flex;
  width: auto;
  max-height: 180px;
  background-color: var(--box2);
  border-radius: 8px;
  position: relative;
  /* overflow: hidden; */
  gap: 12px;
  padding: 0 4px;
  box-sizing: border-box;
  transition: .1s all ease-in-out;
}
.more_view .more_view_content .thumbnail{
  width: 120px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  float: left;
}
.more_view .more_view_content .thumbnail img{
  height: 100%;
}
.more_view .more_view_content .thumbnail .cover{
  width: 120px;
  height: 180px;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0.25) 25%,
    rgba(20, 20, 20, 0.5) 50%,
    rgba(20, 20, 20, 0.75) 75%,
    rgba(20, 20, 20, 1) 100%
  );
  position: absolute;
}
.more_view .more_view_content .thumbnail p{
  width: 90;
  position: absolute;
  bottom: 10px;
  left: 6px;
  color: #fff;
  font-size: 0.9rem;
}
.thumbnail_left{
  width: 30px;
  height: 30px;
  position: absolute;
  color: var(--text-color1);
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.thumbnail_right{
  width: 30px;
  height: 30px;
  position: absolute;
  color: var(--text-color1);
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
html::-webkit-scrollbar{
  width: 8px;
}
/* 스크롤바 막대 설정*/
html::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: var(--box1);
  border-radius: 10px;  
}
/* 스크롤바 뒷 배경 설정*/
html::-webkit-scrollbar-track{
  background-color: var(--text-color1);
}
@media only screen and (max-width: 768px){
  html{
    overflow-x: hidden;
  }
  html::-webkit-scrollbar{
    width: 0;
  }
  .back_mask{
    display: none;
  }
  .series{
    width: 100%;
    padding: 0;
  }
  .series .box{
    width: 100%;
    padding: 0;
    flex-direction: column;
    margin: 0;
    border-radius: 0;
  }
  .series .title{
    display: none;
  }
  .series .box .left{
    width: 100%;
    margin: 0;
  }
  .series .box .left .imgbox{
    border-radius: 0;
    height: 80vw;
  }
  .series .box .left .imgbox .imageDark{
    background: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      #000000,
      #000000
    )
  }
  .series .box .left .imgbox p{
    position: absolute;
    font-size: 2.6rem;
    display: block;
    color: #fff;
    left: 18px;
    bottom: 12px;
    z-index: 999999;
  }
  .left .likeMark{
    display: none;
  }
  .first_episode{
    display: none !important;
  }
}